<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Lista de tareas</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
</head>

<body class="container">

    <div id="app" class="jumbotron">
        <h2>{{titulo}}</h2>

        <div class="input-group">
            <input v-model="nuevaTarea" @keyup.13="agregarTarea" class="form-control" placeholder="nueva tarea">
            <span class="input-group-btn">
                <button @click="agregarTarea" class="btn  btn-primary" type="button">Agregar Tarea</button>
            </span>
        </div>

        <ul class="list-group  tareas">
            <li v-for="(tarea, indice) of tareas" v-bind:class="{terminada: tarea.terminada}" class="list-group-item  tareas-items">
                {{tarea.texto}}
                <span class="tareas-btn">
                    <button @click="tarea.terminada = !tarea.terminada" class="btn  btn-success  btn-sm" type="button">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button @click="borrar"  class="btn  btn-danger  btn-sm" type="button">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </span>
            </li>
        </ul>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="vue.js"></script>
</body>

</html>